*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
@font-face {
    font-family: poppins;
    src: url(../css/font/Poppins-Black.ttf);
}
@font-face {
    font-family: poppins1;
    src: url(../css/font/Poppins-Regular.ttf);
}
@font-face {
    font-family:poppins4;
    src: url(../css/font/Poppins-ExtraLight.ttf);
}
.common_dash_board{
    width: 76vw;
    height: 53vw;
}

.section_dash{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa_bar .fa-bars{
font-size: 1.5vw;
}
.fa_bar:hover{
    color: deeppink;
}
.menu_dash{
    width: 22vw;
    height: 53vw;
    padding: 1vw;
    padding-left: 2vw;
    /* box-shadow: 0vw 0vw .5vw rgba(0, 0, 0, 0.813); */
    border-radius: 0vw .4vw .4vw .0vw;
    
}
.menu_dash h4{
    font-family:poppins;
    padding-bottom: 2vw;
    padding-left: 1vw;
}
.menu_slide{
    display: flex;
    justify-content: space-between;
}
.angle_left{
     font-size: 2vw;
}
.angle_left:hover{
     color: #e54c9f;
}
.line1 i{
    font-size: 1.4vw;
    padding-right: 0.2vw;
}
.line1{
    width: 21vw;
    font-family:poppins1;
    font-size: 1vw;
    font-weight: bold;
    padding: 1vw;
}
.line1:hover{
background: deeppink;
width: 20vw;
border-bottom-left-radius: .6vw;
color: white;
}
.span_menu_dash{
    
}
.service_gratuite{
    border: dashed .2vw deeppink;
    color: deeppink;
    width: 15vw;
    text-align: center;
    border-radius: .5vw;
    padding: 1vw;
    font-family: poppins1;
}
.service_gratuite:hover{
    background: #990c58;
    border: none;
    color: white;
}
.service_gratuite span{
    font-size: .8vw;
}
.service_gratuite h6{
    font-size: 1.2vw;
}
.btn_service_gratuite{
    font-size: 1vw;
    padding: 0.5vw;
    border: solid .1vw deeppink;
    border-radius: .3vw;
    color: deeppink;
}

/* menu close  */
.menu_close{
    width: 6vw;
    height: 53vw;
    text-align: center;
    background:#edebeb;
    position: absolute;
    top: 10vw;
    border-radius: 0vw .5vw 0vw;
    display: none;
}
.angle_right{
    background:#edebeb;
    font-size: 2vw;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    position: absolute;
    top: 0vw;
    right:-1.5vw;
}
.angle_right:hover{
color: #e54c9f;
}
.menu_close .menu_close1{
    font-size: 1.5vw;
}
.menu_close1{
    padding: 1vw;
    position: relative;
}
.menu_close1:hover{
    background: deeppink;
    border-top-right-radius:.5vw;
    color: white;
}
.span_table{
    text-align: left;
    width: 16vw;
    font-size: 1vw;
    font-family:poppins;
    position: absolute;
    left: 6vw;
    display: none;
}
.menu_close1:hover .span_table{
    color: black;
    display: block;
}
/* taux_service */
.fizarana2{
    width: 76vw;
    justify-content: space-between;
    display: flex;
}
.episode3{
    background: #f6f3f3;
    width: 18.5vw;
    height: 7vw;
    padding: 2vw;
    box-shadow: 0vw 0vw .5vw black;
    border-radius: .5vw;
    display: flex;
    justify-content: space-evenly;
    font-family: poppins1;
}
.episode3:hover{
    transform: scale(1.1);
    color: deeppink;
    box-shadow: 0vw 0vw .5vw deeppink;

}
.font_user{
    background:#348ec1;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke: 1px white;
    color: transparent;
}
.episode3:nth-child(2) .font_user{
    background:#4fe74c;
}
.episode3:nth-child(3) .font_user{
    background:#f75151;
}
.episode3:nth-child(4) .font_user{
    background:#e54c9f;
}
 .fa-user{
    font-size: 1.5vw;
    -webkit-text-stroke: 1px white;
    color: transparent;
}
.about_price{

}
.k, .k1, .k2, .k3{
    display: flex;
    align-items: center;
}
.k h3{
color: #0c6699;
}
.k1 h3{
color: #5af456;
}
.k2 h3{
color: #990c0c;
}
.k3 h3{
    color:#990c58;
}
.span_service{
    font-size: .8vw;
}
.about_price .span_about_price{

}
.about_price h3{
    font-family: poppins;
}

/* top revenue */
.top_revenue{
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
}
.box_commentaire{
    background:#f6f3f3;
    height: 21vw;
    border-radius: .5vw;
    padding: 1vw;
}
.revenue1 .user_quatation{
    /* margin: 0vw auto; */
    width: 37vw;
    display: flex;
    align-items: center;
}
.box_revenue{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 76vw;
    font-family: poppins1;
    font-size: .7vw;
    padding-top: 1vw;

}
.revenue1{
    background:#f6f3f3;
    border-radius: .5vw;
    width: 39vw;
    height: 21vw;
    padding: 1vw;
}


.diagram{
    margin: 0vw auto;
    font-family: poppins1;
    font-size:1vw;
    width: 32vw;
    margin-top:2vw;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* padding-bottom: 2vw; */
}
.span_months{
    font-size: .7vw;
}
.box_jan{
    background:#d9d9d9;
    width: 2.5vw;
    height: 6vw;
    border-radius: .5vw;
}
.box_fev{
    background:#d9d9d9;
    width: 2.5vw;
    height: 3.5vw;
    border-radius: .5vw;
}
.box_mars{
    background:#d9d9d9;
    width: 2.5vw;
    height: 6vw;
    border-radius: .5vw;
}
.box_avril{
    background:#0c6699;
    width: 2.5vw;
    height: 8vw;
    border-radius: .5vw;
}
.Avril{
    position: relative;
}
.pic_avril{
    font-weight: bold;
    font-size: .7vw;
    width: 5vw;
    font-family: poppins1;
    color: #0c6699;
    position: absolute;
    top: -1vw;
    left: -1vw;
}
.box_mai{
    background:#d9d9d9;
    width: 2.5vw;
    height: 7vw;
    border-radius: .6vw;
}
.box_juin{
    background:#d9d9d9;
    width: 2.5vw;
    height: 6vw;
    border-radius: .6vw;
}
.box_juillet{
    background:#d9d9d9;
    width: 2.5vw;
    height: 3.5vw;
    border-radius: .5vw;
}
.box_aout{
    background:#d9d9d9;
    width: 2.5vw;
    height: 2vw;
    border-radius: .5vw;
}
.box_sept{
    background:#d9d9d9;
    width: 2.5vw;
    height: 7vw;
    border-radius: .5vw;
}
.box_oct{
    background:#d9d9d9;
    width: 2.5vw;
    height: 4vw;
    border-radius: .5vw;
}
.box_nov{
    background:#d9d9d9;
    width: 2.5vw;
    height: 6vw;
    border-radius: .5vw;
}

/* Top commentaire */
.revenue{
    width: 36vw;
    height: 21vw;

}
.service_accompagnement{
    padding: 1.5vw;
}
.taux{
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box_serve{
    background:#f8c2c2;
    border-radius: 1vw;
    width: 30vw;
    height: .5vw;
}
.box_serve .box_serve_1{
    background: #ff0000;
    width: 24vw;
    height: .5vw;
    border-radius: 1vw;
}
.box_serve1{
    background:#d9f5d6;
    border-radius: 1vw;
    width: 30vw;
    height: .5vw;
}
.box_serve1 .box_serve1_1{
    background:#0f990c;
    width: 25vw;
    height: .5vw;
    border-radius: 1vw;
}
.box_serve2{
    background:#d9e9f3;
    border-radius: 1vw;
    width: 30vw;
    height: .5vw;
}
.box_serve2 .box_serve1_2{
    background:#0c6699;
    width: 29vw;
    height: .5vw;
    border-radius: 1vw;
}

/* demande de devis et top appreciation */
.first_bloc{
    width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: poppins1;
    font-size: .7vw;

}
.top_appreciate{
}
.appreciate1{
    background:#f6f3f3;
    padding: 1vw;
    width: 40vw;
    border-radius:.5vw;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.35);

}
.head_app{
    /* margin: 2vw; */
    display: flex;
    justify-content: space-between;
}
.form_ap{
    width: 22vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.form_ap form {
    background:#edebeb;
    padding: .5vw;
    width: 16vw;
    border-radius:2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.form_ap form input{ 
    padding:.5vw;
    border: none;
    background:#edebeb;
}
form .fa-search{
    font-size: 1vw;
}
.ap_search{
    font-size: 1vw;
    padding: 2vw;
    
}

.title_appreciate{
    width: 35vw;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7vw;
    position: relative;
}
.N_P{
    position: absolute;
    left: 3vw;
}
.ap_date{
    position: absolute;
    left: 14vw;
}
.ap_benefite{
    position: absolute;
    left: 21vw;
}
.ap_price{
    position: absolute;
    left: 28vw;
}
.ap_appeciate{
    position: absolute;
    left: 31.2vw;
}
.filter_ap{
    display: flex;
}
.appreciate2{
    display: flex;
    width: 36vw;
    padding-top: 1vw;
    position: relative;
}

.ap_profil{
    padding-left: 1vw;
    
}
.content_appreciate{
    width: 13vw;
    display: flex;
}
.ap_image{
    width: 2.5vw;
    height: 2.5vw;
    border-radius:50%;
}
.ap_image img{  
width: 100%;
height: 100%;
border-radius:50%;
object-fit: cover;
}
.content_ap{
    width: 25vw;
    padding: 1vw;
    padding-left:2vw;
    display: flex;
    justify-content: space-between;
}
.i_content .fa-caret-down{
    color:#fe3ea5;
    font-size: 1vw;
}

/* bloc2 */
.user_quotation_request{
    border-radius: .5vw;
    padding: 1vw;
    width: 36vw;
    border-radius:.5vw;

}
.boaty_iray{
    background:#f6f3f3;
    border-radius: .5vw;
    padding: .6vw;
    width: 36vw;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.35);
}
.user_quatation{
    display: flex;
    justify-content: space-between;
    width: 34vw;
}
.big_bloc{
    width: 34vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw;
}
.user_service{
    width: 13vw;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top:2vw;
}
.fa-caret-up{
    font-size: 1.5vw;
    color: #0c6699;
}
.user_service .fa-caret-down{
    font-size: 1.5vw;
    color:#ff0000
}
.user_service:nth-child(3) .fa-caret-up{
    color:#0f990c;
}
.caret1{
    padding-left:.7vw;
}
.caret1 span{
    font-size: .9vw;
}

/* loading */

.loading{
    position: relative;

}
.bloc_load1{
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    border: solid 1vw #0f990c;
}
.bloc_load2{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: solid 1vw #ff0000;
    z-index: 1;
}
.bloc_load3{
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    border: solid 1vw #0c6699;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloc_load3 h4{
    font-size: 1.5vw;
}

/* gestion du plateforme */
.plateform_gestion{
    background: deeppink;
    width: 36vw;
    padding: 0.5vw;
    margin-top:.3vw;
    border-radius: .5vw;
    font-size: 1vw;
    color: white;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.35);

}


/* header */
@font-face {
    font-family: poppins;
    src: url(../css/font/Poppins-Black.ttf);
}
@font-face {
    font-family: poppins1;
    src: url(../css/font/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppins3;
    src: url(../css/font/Poppins-ExtraLight.ttf);
}
body{
    overflow-x: hidden;
}
header{
    padding: 1vw;
    
}
.logo h2{
    font-size: 2vw;
    color: deeppink;
    animation: logo 3s ease;
    font-family: poppins3;
}

@keyframes logo {
    10%{
       
    }
    20%{
        transform: rotateY(30deg);
    }
    30%{
        transform: rotateY(-30deg);
    }
    100%{
        transform: scale(1.2);
    }
}
header .head_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 2vw 0vw;
    position: relative;
}

.home_connected{
    width: 25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pdf_common{
    width: 14vw;
    padding-left: .5vw;
    display: flex;
    align-items: center;
}
.pdf_name h5{
font-family: poppins1;
font-size: .8vw;
padding: 0.3vw;
}
.home_connected .bell{
    position: relative;
    animation: bell .5s ease-in;
}
@keyframes bell {
    10%{
        transform: rotate(30deg);
        transition: 1s;
    }
    11%{
        transform: rotate(-30deg);
        transition: 3s;
    }
}
.fa_comment:hover, .bell:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    border: solid .1vw deeppink;
}
.fa_comment{
    position: relative;
}
.fa_comment .litle_point{
    position: absolute;
    top: 0vw;
}
.fa-comment-alt{
    font-size: 1.5vw;
}
.litle_point{
    background: deeppink;
    width:.5vw;
    height: .5vw;
    border-radius:50%;
    position: absolute;
    top: 0vw;
    right: 0vw;
}
.litle_point_pdf{
    background: deeppink;
    width:.7vw;
    height: .7vw;
    border-radius:50%;
    position: absolute;
    bottom: 0vw;
    right: 0vw;
}
.home_connected .bell, .tasks{
    font-size: 1.5vw;
}
.tasks{
    animation: bell .5s ease-in;
}
.tasks:hover{
    color: deeppink;
}
/* .tasks .fa-tasks{
    position: relative;
} */
.user_menu{
    background: #222222;
    border-radius: .5vw;
    width: 20vw;
    margin: 0vw auto;
    /* position: absolute;
    right: -3vw;
    display: none;
    z-index: 100; */

}

.home_connected .pdf_active{
    position: relative;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    animation: bell .5s ease-in;

}
.home_connected .pdf_active img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.home_connected .pdf_active img:hover{
    border: solid .1vw deeppink;
}
p{
    font-family: poppins1;
    font-size:1vw;

}
.section_notif{
    position: absolute;
    display: none;
    z-index: 8;
}
/* notification user  */
@font-face{
    font-family: poppins;
    src: url(../css/font/Poppins-Black.ttf);
}
@font-face{
    font-family: poppins1;
    src: url(../css/font/Poppins-Regular.ttf);
}
@font-face{
    font-family:poppins4;
    src: url(../css/font/Poppins-ExtraLight.ttf);
}
.section_notif{
    font-family: poppins1;
    font-size: .8vw;
    width: 30vw;
    position: absolute;
    right: -2vw;
    top: 5vw;

}
.rows{
    background:#222222;
    border-radius:.5vw;
    width: 31vw;
    font-size: .5vw;
}
.row1{
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    margin: 0vw auto;
    width: 29vw;
    font-size: 1.3vw;
    color: white;

}
.row1 span{
    color: rgba(255, 255, 255, 0.535);
}
.row1 h5{
    font-size: 1.3vw;
}

.filter{
    width: 3vw;
}
.img_row{
    width: 2.5vw;
    height: 2.5vw;
    border-radius:50%;
    position: relative;
}
.img_row img{
 width: 100%;
 height: 100%;
 border-radius: 50%;
 object-fit: cover;
}
.img_row .img_2nd{
    width: 2.5vw;
    height: 2.5vw;
    border-radius:50%;
    position: absolute;
    bottom: -1vw;
    right: -1vw;
}
.img_row .img_2nd img{
 width: 100%;
 height: 100%;
 border-radius: 50%;
 object-fit: cover;
}
.rows1{

}
.row2{
    color: white;
    font-family:poppins4;
    margin: 0vw auto;
    padding: .5vw;
    width: 31vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.notif1{
    width: 24vw;
    font-size:1vw;
    padding: 1vw;
}
.notif1 h3{
    font-size: 1vw;
}
.notif1 .span_notif{
    font-weight: lighter;
    font-size: 1vw;
}
.cols{
    display: flex;
    justify-content: space-between;
}
.div_span{
    width: 22vw;
    text-align: right;
}
.rows1 .ellipsis{
    text-align: center;
    padding: 2vw;
    font-size:1.2vw;
    color: rgba(255, 255, 255, 0.305);
}

/* bar filter and research*/
.head_app{
    /* margin: 2vw; */
    display: flex;
    justify-content: space-between;
}
.box_infinite{
    width: 54vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form_app{
    width: 34vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form_app form {
    background:#f4f4f4;
    padding: .5vw;
    width: 26vw;
    border-radius:2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.form_app form input{ 
    padding:.5vw;
    border: none;
    background:#f4f4f4;
    border: solid .1vw #f4f4f4;
    width:26vw;
}
.form_ap{
    width: 23vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form_ap form {
    background:#f4f4f4;
    padding: .5vw;
    width: 16vw;
    border-radius:2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.form_ap form input{ 
    padding:.5vw;
    border: none;
    background:#f4f4f4;
    border: solid .1vw #f4f4f4;
    width: 22vw;
}
form .fa-search{
    font-size: 1vw;
}
.ap_search{
    font-size: 1vw;
    padding: 2vw;

}


/* creation de post */
.section_post{
}
.sect_post{
    background: #f6f3f3;
    width: 76vw;
    height: 45vw;
    padding: 1vw;
    border-radius: .5vw;
    position: absolute;
    top: 13.5vw;
    right: 0vw;
}
.post_flex{
    display: flex;
    justify-content: space-between;
}
.post_header{
    text-align: center;
    padding: 2vw;
}
.post_header h4{
    font-family: poppins;
    font-size: 1vw;
}
.post_header p{
    font-family: poppins1;
    font-size: 1vw;
}
.formulaire_post{
    /* background: deeppink; */
    width: 21vw;
}
.form_post1{
    
}
.form_post2{
    width: 21vw;
    display: flex;
    justify-content: space-between;
}
.form_post1 label, p{
 font-size: .8vw;
 font-family: poppins1;
}
.form_post2 label{
 font-size: .8vw;
 font-family: poppins1;
}
.form_post2 input, select{
    padding: .6vw;
    background: #edebeb;
    border: none;
    border-radius: .3vw;
}
.form_post1 input, select{
    padding: .6vw;
    background: #edebeb;
    border: none;
    border-radius: .3vw;
}
.form_post1 input, select, option,textarea{
    padding-left: .5vw;
 font-size: .7vw;
 font-family: poppins;
}
.input_capacity{
    width: 6vw;
}
.input_price{
    width: 8vw;

}
.div_select{
    
}
.select_unity{
    width: 5vw;

}
.input_call_phone{
    width: 8vw;

}
.input_fotsiny{
    width: 100%;
}
.input_choosing{
    font-family: poppins1;
    font-size: .8vw;
}

.service_existe{
    font-size: .8vw;
    display: flex;
    justify-content: space-between;
}
.input_radio1{
    background: #edebeb;
    padding: 0.5vw;
    border-radius: .3vw;
    display: flex;
    color:rgba(0, 0, 0, 0.649);

}
.input_radio1 input{
    width: 1vw;
}
.span_input_choosing{
    font-family: poppins3;

}
.post_textarea {
    font-size: .8vw;

}
.post_textarea textarea{
    width: 100%;
    height: 12.7vw;
    background: #edebeb;
    border: none;
    border-radius: .3vw;

}
.post_textarea label{
    font-family: poppins1;
}
/* center */
.div_post_image{
    background: #edebeb;
    text-align: center;
    width: 21vw;
    height: 27.2vw;
    border-radius: .3vw;
    padding-top: 9vw;
}
.div_post_image p{
    font-size: .8vw;
}
.upload_post_btn{
    width: 7vw;
    padding: 0.4vw;
    margin: 2vw;
    font-family: poppins1;
    border-radius: .4vw;
}
.upload_post_btn:hover{
    color: deeppink;
    border: solid .2vw rgba(128, 128, 128, 0.697);
    font-weight: bold;
}

/* btn post */
.bloc_btn_post, .btn_annuler{
    padding: 1vw 0vw 0vw;
}
.btn_annuler{
    font-family: poppins1;
    font-size: .8vw;
    width: 100%;
    color: white;
    background: rgba(255, 20, 145, 0.215);
    padding: .8vw;
    margin-top: .8vw;
    border: none;
    border-radius: .3vw;
    text-align: center;
}
.btn_annuler:hover{
 color: deeppink;
 font-family: poppins;

}
.btn_post{
    font-family: poppins1;
    font-size: .8vw;
    width: 100%;
    color: white;
    background: deeppink;
    padding: .8vw;
    border: none;
    border-radius: .3vw;
}

/* DISCUSSION INSTANTANEE  */

.section_message{
    font-family: poppins1;
    font-size: .8vw;
    padding: 1vw;
    position: absolute;
    top: 13vw;
    left: 22vw;
    display: none;
}
.discussion{
background: #f6f3f3;
width: 18.5vw;
box-shadow: 0vw 0vw .5vw black;
border-radius: .5vw;
font-family: poppins1;
position: relative;
}
.discussion:hover{
border: solid .1vw #fa9acd;
}
.discussion h2{
font-family: poppins;
font-size: 1vw;
text-align: center;
padding: 3vw 1vw 3vw;
}
/* .sommet{
 background: deeppink;
width: 0.3vw;
height: 0.3vw;
border-radius: 50%;
position: absolute;
top: 3vw;
right: 9.5vw;
}
.sommet1{
background: deeppink;
width: 0.3vw;
height: 0.3vw;
border-radius: 50%;
position: absolute;
top: 3vw;
right: 14.7vw;
} */
.box_message{
display: flex;
justify-content: space-between;
align-items: center;
padding: 2vw 1vw 2vw;
border-radius: .5vw;
box-shadow: 0vw 0vw .2vw black;

}
.box_message:hover{
    background: #fa9acd;
}
.user1{
display: flex;
align-items: center;
width: 13.5vw;
}
.img_message{
width: 2vw;
height: 2vw;
border-radius: 50%;
position: relative;
}
.img_message img{
width: 100%;
height: 100%;
border-radius: 50%;
object-fit: cover;
object-position: center;
}
.actif{
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 50%;
    background: deeppink;
    position: absolute;
    bottom: 0vw;
    right: 0vw;
}
.user1_name{
    padding-left: .5vw;
}
.user1_name h3{

}
.user1_name p{

}
.message_number{
   
}
.count_mp{
    background: deeppink;
    color: white;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    margin: 0vw auto;
}
.message_number h5{
text-align: center;
}
.horor{
    
}
.horor span{

}

/* ADMINISTRATEUR MESSAGE */

.admin_pm{
    width: 27vw;
    box-shadow: 0vw 0vw .5vw black;
    border-radius: .5vw;
    font-family: poppins1;
    position: absolute;
    top: 14vw;
    left: 42vw;
    background: white;
    display: none;
}
.admin_pm:hover{
    border: solid .1vw #fa9acd;

}
.pm_header{
    display: flex;justify-content: space-between;align-items: center;
}
.user_pm{
    font-family: poppins1;
    font-size: .8vw;
    padding: 1vw;
    display: flex;
    align-items: center;
    width: 16.5vw;
}
.img_user_pm{
    width: 2vw;
height: 2vw;
border-radius: 50%;
position: relative;
}
.img_user_pm img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    }
.active{
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 50%;
    background: deeppink;
    position: absolute;
    bottom: 0vw;
    right: 0vw;
}
.username_pm{
    padding-left: .5vw;
}
.pm_delete{
    -webkit-text-stroke:1px grey ;
    color: white;
    font-size: 1vw;
    font-family: poppins1;
    width: 6vw;
    display: flex;justify-content: space-evenly;   
}
.hr_pm{
    width: 13vw;
    background: grey;
    margin: 0vw auto;
    opacity: .5;
}
.message_date{
    text-align: center;
    font-size: .8vw;
    color: black;
}
.discussion_part{
font-size: .8vw;
font-size: poppins1;
color: white;
}
.part_message{
 display: flex;
 align-items: end;
 justify-content: end;
 width: 18vw;
}
.admin_picture{
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
}
.admin_picture img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.admin_discuss_part{
background: deeppink;
 margin: .5vw;
 width: 14vw;
 padding: 1vw;
 border-radius: .5vw;
}
.discussion_reply{
    font-size: .8vw;
    font-size: poppins1;
}
.flex_part{
    display: flex;
    align-items: end;
    justify-content: end;
}
.part_user_message{
    background: #f6f3f3;
    margin: .5vw;
    width: 14vw;
    padding: 1vw;
    border-radius: .5vw;
    box-shadow: 0vw 0vw .3vw black;

}
.input_message{
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 16vw;
    border-radius: .5vw;
}
.input_message:hover{
    border: solid 1px deeppink;
}
.input_message input{
    padding: .7vw;
    border: solid .1vw white;
    border-radius: .5vw;

}
.input::placeholder:hover{
    -webkit-text-stroke: 1px white ;
    color: deeppink;
    font-size: 7vw;
}
.send_message{
    color: deeppink;
    font-size: 1.5vw;
    padding-right: .3vw;
}
.writting{
    background:#f5f5f5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1vw;
    margin-top: 2vw;
    border-bottom-left-radius: .5vw;
    border-bottom-right-radius: .5vw;
}

.flex2{
    width: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-plus-square, .fa-grin, .fa-file{
    font-size: 1.1vw;
    -webkit-text-stroke:1px grey ;
    color: white;
}
.fa-plus-square:hover, .fa-grin:hover,
.fa-file:hover,.fa-trash-alt:hover, .fa-times:hover{
    -webkit-text-stroke:.1vw deeppink ;
    color: white;
}


/* NOTIFICATION */

.section_notif{
    width: 32vw;
    display: none;
}
.rows{
    background:#222222;
    border-radius:.5vw;
    width: 30vw;
    padding: 0.8vw;
}
.row1{
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    margin: 0vw auto;
    width: 29vw;
    font-size: 1vw;
    color: white;

}
.row1 span{
    color: rgba(255, 255, 255, 0.535);
}
.row1 h5{
    font-size: 1vw;
}
.nav_row ul{
    width: 18vw;
    list-style:none;
    display: flex;
    justify-content: space-between;
}
.nav_row ul li:hover{
 padding: 0.5vw;
 background:linear-gradient(to right, deeppink,rgba(0, 0, 0, 0.204));
 border-radius:.3vw;
}
.filter{
    width: 3vw;
}
.img_row{
    width: 2.5vw;
    height: 2.5vw;
    border-radius:50%;
    position: relative;
}
.img_row img{
 width: 100%;
 height: 100%;
 border-radius: 50%;
 object-fit: cover;
}
.img_row .img_2nd{
    width: 2.5vw;
    height: 2.5vw;
    border-radius:50%;
    position: absolute;
    bottom: -1vw;
    right: -1vw;
}
.img_row .img_2nd img{
 width: 100%;
 height: 100%;
 border-radius: 50%;
 object-fit: cover;
}

.row2{
    color: white;
    font-family:poppins4;
    margin: 0vw auto;
    padding: .5vw;
    width: 31vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.row2:hover{
    background: deeppink;
    border: none;
    transition: 1s;
    border-radius: .5vw;
}
.notif1{
    width: 24vw;
    font-size:.8vw;
    padding: 1vw;
}
.notif1 h3{
    font-size: 1vw;
}
.notif1 .span_notif{
    font-weight: lighter;
    font-size: 1vw;
}
.cols{
    display: flex;
    justify-content: space-between;
}
.div_span{
    width: 22vw;
    text-align: right;
}
.rows1 .ellipsis{
    text-align: center;
    padding: 2vw;
    font-size:1.2vw;
    color: rgba(255, 255, 255, 0.305);
}
.rows1 .ellipsis:hover{
 color: deeppink;
}

/* EDIT PROFIL  */
body{
    overflow-x: hidden;
}
@font-face {
    font-family:edit;
    src: url(../css/font/Poppins-Light.ttf.ttf);
}
.section_edit_profil{
    background: black;
    height: 73vw;
    color: rgba(255, 255, 255, 0.839);
    border-radius: 1vw;
    position: absolute;
    top: 5vw;
    display: none;
}
.edit_profil{
    position: relative;
}
.pdc{
    width: 100vw;
    height: 20vw;
    position: relative;
}
.pdc img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.pdc .camera{
    color:white;
    text-align: center;
    position: absolute;
    bottom: 2vw;
    right: 2vw;
}
.pdc .camera:hover{
    color: rgba(255, 255, 255, 0.327);
}
.pdc .fa-camera{
    color: rgba(255, 255, 255, 0.553);
}
.pdc .fa-camera:hover{
    color: white;
}
.ajout_image{
    font-size: .6vw;
    font-family: poppins1;
}
.pdc .times_edit{
    font-size: 1.5vw;
    color: rgba(255, 255, 255, 0.796);
    position: absolute;
    top: 1vw;
    right: 3vw;
}
.pdc .times_edit:hover{
    background: rgba(209, 205, 205, 0.545);
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pdf{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -6vw;
    left: 5vw;
}
.photo{
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    position: relative;

}
.photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.nom_prenom{
    width: 39vw;
    padding-left:1vw;
    padding-top: 2vw;
}
.nom_prenom p{
    color:rgba(255, 255, 255, 0.481);
}
.nom_prenom h5{
    font-size: 1.5vw;
    color: #f6f3f3;
    font-family:edit;
}
.camera1{
    position: absolute;
    right: 2vw;
    bottom: 1vw;
}
.camera1 .fa-camera:hover{
    color: rgba(255, 255, 255, 0.504);
}

.fa-camera{
    color: rgba(255, 255, 255, 0.718);
    font-size: 2vw;
   
}

.nom_prenom p{
    font-family:poppins1;
    font-size: 1vw;
}
.upload_count{
    background:#353535;
    width: 90vw;
    height: 43vw;
    margin: 0vw auto;
    padding: 2vw;
    position: relative;
    bottom: -9vw;
    border-radius: .7vw;
    font-family:poppins1;
    font-size: 1vw;

}
.box_upload{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.edit_trash{
    word-spacing: 2vw;
}
.fa-edit{
    color: white;
}
.fa-trash-alt{
    /* color: red; */
}
.input_name_count{
    display: flex;
    justify-content: space-between;
}
.input_name_count1{
    width: 66vw;
    display: flex;
    justify-content: space-between;
}
.input_name_count1 .input1_count input{
    width: 16vw;
    color: white;
}
.input_name_count1 .input1_count select{
    width: 16vw;
}
.input1_count input, select, textarea{
    /* background:#454545; */
    border: none;
    padding: 0.7vw;
    border-radius: .6vw;
}
.input1_count label{
    font-size: .9vw;
}
.input1_count input, select{
    width: 12vw;
    color: white;
    font-weight: bold;
}
input::placeholder{
    color: white;
}
.textarea textarea{
    width: 100%;
}

.radio_profil{
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 20, 145, 0.682);
}
.sauvegarde{
    background: deeppink;
    color: white;
    border-radius:.7vw;
    border: none;
    padding: 0.8vw;
}

/* SE DECONNECTER */
.deconnecter{
    background: #222222;
    border-radius: .5vw;
    width: 20vw;
    margin: 0vw auto;
    position: absolute;
    top: 5vw;
    right: 0vw;
    display: none;
}
.tsipika_telo:hover{
    color: deeppink;
}
.menu_element{
    font-family: poppins1;
    font-size: 1.2vw;
    color: white;
    padding: 2vw;
}
.menu_element1{
    padding: 0.5vw;
}
.menu_element1:hover{
    background: deeppink;
    padding: 0.5vw;
}





